<div class="Footer-Container">
  <div class="Footer-Image">
    <img src="../../assets/Images/footerimg.svg" alt="" height="250px" width="250px"
      style="position: relative;bottom: 23px;" />
  </div>

  <div class="Service_Link">
    <h3>SERVICES</h3>
    <a href="">One Connect</a>
    <a href="">One Doctor</a>
    <a href="">One Lab</a>
    <a href="">One Record</a>
  </div>

  <div class="About-Links">
    <h3>About</h3>
    <a href="">About Us</a>
    <a href="">Our Mission</a>
    <a href="">Career</a>
    <a href="">Technical Support</a>
  </div>

  <div class="Support-Link">
    <h3>SUPPORT</h3>
    <a href="">Product Update</a>
    <a href="">Contact</a>
    <a href="">Demo</a>
    <a href="">Pricing</a>
  </div>

  <div class="Apps-Link">
    <h3>GET THE APP</h3>
    <img src="../../assets/Images/app-store.png" alt="">
    <img src="../../assets/Images/google-play.png" alt="">
  </div>
</div>

<div class="Copyright-Container">
  <div class="Last-Links">
    <a href="">Privacy policy</a>
    <a href=""> Terms</a>
    <a href="">Disclaimer & Cancellation</a>
  </div>
  <p>Copyright © 2021 OneHealth</p>
  <div class="Online-Plat">
    <img src="../../assets/Images/insta.svg" alt="" width="40px" height="40px">
    <img src="../../assets/Images/twitter.svg" alt="" width="40px" height="40px">
    <img src="../../assets/Images/youtube.svg" alt="" width="40px" height="40px">
    <img src="../../assets/Images/facebook-badge.svg" alt="" width="40px" height="40px">
  </div>
</div>
